<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Game</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1 class="text-center my-5">Create a new game</h1>
  <form th:action="@{/game/new}" th:object="${game}" method="post">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" th:field="*{gameTitle}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="studio" class="col-sm-2 col-form-label">Studio:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studio" th:field="*{gameStudio}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="year" class="col-sm-2 col-form-label">Year:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="year" th:field="*{year}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" th:field="*{description}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="finished" class="col-sm-2 col-form-label">Finished:</label>
      <div class="row-cols-sm-1">
        <input type="checkbox" class="form-control" id="finished" th:field="*{finished}"/>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Add Game"/>
    </div>
  </form>
</div>
</body>
</html>