<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <h1 class="text-center my-5">Edit Game</h1>
    <form th:action="@{/game/edit/{id}(id=${game.gameId})}" th:object="${game}" method="post">
        <input type="hidden" th:field="*{gameId}"/>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{gameTitle}" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="studio">Studio</label>
            <input type="text" class="form-control" id="studio" th:field="*{gameStudio}" placeholder="Enter studio">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year" th:field="*{year}" placeholder="Enter year">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="finished" th:field="*{finished}">
                <label class="form-check-label" for="finished">
                    Finished
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>